ESPOCRM_VERSION=latest

ESPOCRM_BIND_HOST=127.0.0.1
ESPOCRM_HTTP_PORT=8080
ESPOCRM_WS_PORT=8081

ESPOCRM_SITE_URL=http://localhost:8080
ESPOCRM_WEB_SOCKET_URL=ws://localhost:8081

ESPOCRM_ADMIN_USERNAME=admin
ESPOCRM_ADMIN_PASSWORD=change-me

MARIADB_ROOT_PASSWORD=change-me-root
MARIADB_DATABASE=espocrm
MARIADB_USER=espocrm
MARIADB_PASSWORD=change-me-db
